# Dependencias
node_modules/

# Archivos de compilación
/dist
/build

# Variables de entorno
.env
.env.local
.env.*.local

# Expo cache
.expo/
apps/mobile/.expo/

# IDEs
.idea/
.vscode/

# Build info
*.tsbuildinfo
